<div echarts
     class="herb-target-network-graph"
     [options]="echartOptions"
     (chartInit)="onChartInit($event)"
     (chartDblClick)="onDbClick($event)"
></div>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <tr>
    <th class="mdl-data-table__cell--non-numeric">Shared targets threshold({{lengthThreshold}})</th>
    <th class="mdl-data-table__cell--non-numeric">Nodes name</th>
    <th class="mdl-data-table__cell--non-numeric">View data table</th>
    <th class="mdl-data-table__cell--non-numeric">View more data</th>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric">
      <mat-slider
        [min]="1"
        [max]="200"
        [step]="1"
        [thumbLabel]="true"
        [(ngModel)]="lengthThreshold"
        (change)="updateNetworkData()"
      ></mat-slider>
    </td>
    <td class="mdl-data-table__cell--non-numeric">
      <mat-slide-toggle
        [(ngModel)]="showLabel"
        (change)="showNodeLabel()"
      ></mat-slide-toggle>
    </td>
    <td class="mdl-data-table__cell--non-numeric">
      <button mat-button color="primary" (click)="gotoNetworkTable()">View</button>
    </td>
  <td class="mdl-data-table__cell--non-numeric">
    <img class="img-style" src="assets/image-yatcm/shared-target.png" alt="sample picture">
  </td>
  </tr>

</table>
