<table class="mdl-data-table mdl-shadow--2dp">
  <tr>
    <th>Disease Name</th>
    <td class="mdl-data-table__cell--non-numeric">{{disease?.name}}</td>
  </tr>
  <tr>
    <th>Synonyms</th>
    <td class="mdl-data-table__cell--non-numeric">{{disease?.synonyms}}</td>
  </tr>
  <tr>
    <th>Description</th>
    <td class="mdl-data-table__cell--non-numeric">{{disease?.description}}</td>
  </tr>
  <tr>
    <th>Clinical Feature</th>
    <td class="mdl-data-table__cell--non-numeric">{{disease?.clinical_feature}}</td>
  </tr>
  <tr>
    <th>Omim link</th>
    <td class="mdl-data-table__cell--non-numeric">
      <a href="{{disease?.omim_url}}" target="_blank">{{disease?.omim_url}}</a>
    </td>
  </tr>
</table>
<nav mat-tab-nav-bar>
  <a mat-tab-link
     [routerLink]="'disease-prescription'"
     routerLinkActive #ran="routerLinkActive"
     [active]="ran.isActive">Prescription</a>
  <a mat-tab-link [routerLink]="'disease-herb'"
     routerLinkActive #rap="routerLinkActive"
     [active]="rap.isActive">Herb</a>
  <a mat-tab-link
     [routerLink]="'disease-compound'"
     routerLinkActive #rac="routerLinkActive"
     [active]="rac.isActive">Molecule</a>
  <a mat-tab-link
     [routerLink]="'disease-target'"
     routerLinkActive #rat="routerLinkActive"
     [active]="rat.isActive">Target</a>
  <a mat-tab-link
     [routerLink]="'disease-pathway'"
     routerLinkActive #rapw="routerLinkActive"
     [active]="rapw.isActive">Pathway</a>
  <!--<a mat-tab-link-->
     <!--[routerLink]="'disease-disease'"-->
     <!--routerLinkActive #rat="routerLinkActive"-->
     <!--[active]="rat.isActive">Disease</a>-->
</nav>
<router-outlet></router-outlet>
