<div class="table-section-container">
  <div *ngIf="isLoading || isLoadingError">
    <mat-progress-bar mode="query" color="primary" *ngIf="isLoading"></mat-progress-bar>
  </div>
<mat-table #targetTable [dataSource]="dataSource"
           matSort matSortActive="uniprot_name" matSortDisableClear matSortDirection="asc">
  <ng-container matColumnDef="chembl_id">
    <mat-header-cell *matHeaderCellDef>ChEMBL ID</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a href="{{row.chembl_url}}" target="_blank">{{row.chembl_id}}</a>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="target_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Target Name*</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.target_name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="uniprot_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Uniprot Name*</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a href="{{row.uniprot_link}}" target="_blank">{{row.uniprot_name}}</a>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="gene_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Gene Name*</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.gene_name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="tcmid_link">
  <mat-header-cell *matHeaderCellDef mat-sort-header>TCMID Link</mat-header-cell>
  <mat-cell *matCellDef="let row">
    <a href="{{row.tcmid_link}}" target="_blank">TCMID Link</a>
  </mat-cell>
 </ng-container>
  <ng-container matColumnDef="detail">
    <mat-header-cell *matHeaderCellDef>Detail</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" appViewPageById idType="target" pageId="{{row.id}}">
        view
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="compounds">
    <mat-header-cell *matHeaderCellDef>Compounds</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoCompoundList(row.id)">
        {{row.compounds.length}}
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="diseases">
    <mat-header-cell *matHeaderCellDef>Diseases</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoDiseaseList(row.id)">
        {{row.disease_set.length}}
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<div>
  <div class="mdl-grid mdl-grid--no-spacing">
    <mat-form-field class="mdl-cell mdl-cell--2-col">
      <mat-select placeholder="Custom displayed columns" multiple [(ngModel)]="displayedColumns">
        <mat-option *ngFor="let column of allColumns" [value]="column">
          {{column}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="mdl-cell mdl-cell--5-col mdl-typography--text-center">
      <h5 class="mat-header-cell">
        <b>{{tableTitle}}</b>
      </h5>
    </div>
    <div class="mdl-cell mdl-cell--5-col">
      <mat-paginator [length]="pageMeta?.total_results"
                     [pageSize]="pageMeta?.per_page"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="pageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
</div>
