<div class="table-section-container">
  <div *ngIf="isLoading || isLoadingError">
    <mat-progress-bar mode="query" color="primary" *ngIf="isLoading"></mat-progress-bar>
  </div>
  <mat-table #herbTable [dataSource]="dataSource"
             matSort matSortDisableClear matSortDirection="asc">
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <img src="{{row.image}}" alt="Herb Image" style="width: 100px; height: 100px;">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="English_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>English Name*</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" appViewPageById [idType]="'herb'" pageId="{{row.id}}">
          {{row.English_name}}
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Chinese_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Chinese Name*</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" appViewPageById [idType]="'herb'" pageId="{{row.id}}">
          {{row.Chinese_name}}
        </button>
       </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phonetic_name">
      <mat-header-cell *matHeaderCellDef>Phonetic Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.pinyin_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ingredients">
      <mat-header-cell *matHeaderCellDef>Ingredients</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" (click)="gotoCompoundList(row.id)">
          {{row.compounds.length}}
        </button>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="first_category">
      <mat-header-cell *matHeaderCellDef >First Category</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngIf="row.first_catagory_chinese">
          {{row.first_catagory_chinese}}({{row.first_catagory_english}})
        </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="second_category">
      <mat-header-cell *matHeaderCellDef>Second Category</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.second_catagory_chinese}}({{row.second_catagory_english}})</mat-cell>
    </ng-container>

    <ng-container matColumnDef="effect">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Effect*</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngIf="row.effect">{{row.effect}}</ng-container>
        <ng-container *ngIf="!row.effect">
          <span>
            <mat-icon class="icon-color" matTooltip="{{emptyTooltip}}">error</mat-icon>
          </span>
        </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="latin_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Latin Name*</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.latin_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="drug_property">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Drug ProPerty*</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngIf="row.drug_property">{{row.drug_property}}</ng-container>
        <ng-container *ngIf="!row.drug_property">
          <span>
            <mat-icon class="icon-color" matTooltip="{{emptyTooltip}}">error</mat-icon>
          </span>
        </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="wiki_chinese">
      <mat-header-cell *matHeaderCellDef>Wiki Chinese</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.wiki_chinese}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="wiki_english">
      <mat-header-cell *matHeaderCellDef>Wiki English</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.wiki_english}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="indication">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Indication*</mat-header-cell>
      <mat-cell *matCellDef="let row" class="scroll-content">
        <ng-container *ngIf="row.indication">{{row.indication}}</ng-container>
        <ng-container *ngIf="!row.indication">
          <span>
            <mat-icon class="icon-color" matTooltip="{{emptyTooltip}}">error</mat-icon>
          </span>
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="meridians">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Meridians</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngIf="row.meridians">{{row.meridians}}</ng-container>
        <ng-container *ngIf="!row.meridians">
          <span>
            <mat-icon class="icon-color" matTooltip="{{emptyTooltip}}">error</mat-icon>
          </span>
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="related_herb">
      <mat-header-cell *matHeaderCellDef>Related Herb</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.related_herbs}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="subherb">
      <mat-header-cell *matHeaderCellDef>Subherb</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.subherb_set.length}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pathway">
      <mat-header-cell *matHeaderCellDef>Pathway</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" (click)="goPathwayList(row.id)">
          {{row.id | pathwayNumber: 'herb' | async}}
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="detail">
      <mat-header-cell *matHeaderCellDef>Detail</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" appViewPageById [idType]="'herb'" pageId="{{row.id}}">view</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div>
    <div class="mdl-grid mdl-grid--no-spacing">
      <mat-form-field class="mdl-cell mdl-cell--2-col">
        <mat-select placeholder="Custom displayed columns" multiple [(ngModel)]="displayedColumns">
          <mat-option *ngFor="let column of allColumns" [value]="column">
            {{column}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="mdl-cell mdl-cell--5-col mdl-typography--text-center">
        <h5 class="mat-header-cell">
          <b>{{tableTitle}}</b>
        </h5>
      </div>
      <div class="mdl-cell mdl-cell--5-col">
        <mat-paginator [length]="pageMeta?.total_results"
                       [pageSize]="pageMeta?.per_page"
                       [pageSizeOptions]="pageSizeOptions"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
