<div echarts
     class="herb-target-network-graph"
     [options]="echartOptions"
     (chartInit)="onChartInit($event)"
     (chartDblClick)="onDbClick($event)"
></div>
<table class="mdl-data-table">
  <tr>
    <th class="mdl-data-table__cell--non-numeric">Dynamic Network</th>
    <th class="mdl-data-table__cell--non-numeric">Shared disease threshold({{lengthThreshold}})</th>
    <th class="mdl-data-table__cell--non-numeric">Nodes name</th>
    <th class="mdl-data-table__cell--non-numeric">View data table</th>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric">
      <mat-slide-toggle
        [(ngModel)]="showDynamicNetwork"
        (change)="networkTransform()"
      ></mat-slide-toggle>
    </td>
    <td class="mdl-data-table__cell--non-numeric">
      <mat-slider
        [min]="1"
        [max]="200"
        [step]="1"
        [thumbLabel]="true"
        [(ngModel)]="lengthThreshold"
        (change)="updateNetworkData()"
      ></mat-slider>
    </td>
    <td class="mdl-data-table__cell--non-numeric">
      <mat-slide-toggle
        [(ngModel)]="showLabel"
        (change)="showNodeLabel()"
      ></mat-slide-toggle>
    </td>
    <td class="mdl-data-table__cell--non-numeric">
      <button mat-button color="primary" (click)="gotoHerbHerbSharedTargetTable()">View</button>
    </td>
  </tr>
</table>
