/*div {*/
  /*background-image: url("http://www.kegg.jp/kegg/pathway/map/map01210.png");*/
  /*background-repeat: no-repeat;*/
/*}*/
.maphighlight {
  background-color: red;
}
canvas {
  position: absolute;
  left: 0px;
  
}

img {
  position: absolute;
  left: 0px;
}
