<h5>jisuan</h5>
<div style="height: 100%; width: 100%;" id="div-canvas">
  <img class="map" src="http://www.kegg.jp/kegg/pathway/map/map00250.png">
  <canvas #canvas class="canvas" style="width: 100%; height: 3000px"></canvas>
  <!--<svg version="1.1" style="width: 100%; height: 2000px">-->
    <!--<circle  cx="144" cy="336" r="10" style="fill:yellow;stroke:green;stroke-width:1; opacity:5; fill-opacity:5"/>-->
    <!--<circle cx="160" cy="80" r="50" style="fill:yellow;stroke:green;stroke-width:5;fill-opacity:-5;stroke-opacity:-5;opacity:5;" />-->
    <!--<circle cx="240" cy="80" r="50" style="fill:yellow;stroke:green;stroke-width:5;fill-opacity:5;stroke-opacity:5;opacity:-5;" />-->
  <!--</svg>-->
  <!--<canvas #canvas_rank2 class="canvas"></canvas>-->
  <!--<canvas #canvas_rank3 class="canvas"></canvas>-->
</div>
<!--<img src="http://www.kegg.jp/kegg/pathway/map/map01210.png" #img>-->


<!--<h1>KEGG Pathway mapping</h1>-->

<!--<h6>Correspond compounds ara higlighted in red</h6>-->
<!--<div>-->
  <!--<img class="map" src="http://www.kegg.jp/kegg/pathway/map/map00250.png"-->
       <!--alt="loding kegg path" id="kegg_pathway" usemap="#pathway_data">-->
  <!--<map name="pathway_data" id="pathway_data" >-->
    <!--<area shape="circle"-->
          <!--coords="144, 528, 10"-->
          <!--id="map">-->
  <!--</map>-->
<!--</div>-->
