<div [ngSwitch]="displayType">
  <div *ngSwitchCase="'compound'">
    <h1>KEGG Pathway mapping</h1>
    <h3>
      <a href="http://www.kegg.jp/kegg-bin/show_pathway?{{keggPathway?.kegg_id}}" target="_blank">
        {{keggPathway?.name}}({{keggPathway?.kegg_id}})
      </a>
    </h3>
    <h6>Correspond compounds ara higlighted in red</h6>
    <div>
      <img src="http://www.kegg.jp/kegg/pathway/map/{{keggPathway?.kegg_id}}.png"
           alt="loding kegg path">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
           version="1.1" style="width: 100%; height: 2000px;">
        <ng-container *ngFor="let coords of mappingKeggCpds?.keggcompound_coordinate">
          <circle [attr.cx]="coords.x" [attr.cy]="coords.y" r="10" (click)="openDialog(compoundId, pathwayId)"
                  style="fill:red;stroke:green;stroke-width:1; fill-opacity: 1; opacity: 5"/>
          <circle [attr.cx]="coords.x" [attr.cy]="coords.y" r="4"  (click)="openDialog(compoundId, pathwayId)"
                  style="fill:none;stroke:black;stroke-width:1; fill-opacity: 0.1;" />
        </ng-container>
      </svg>

    </div>
  </div>
</div>


