<div class="table-section-container">
  <div *ngIf="isLoading || isLoadingError" class="table-loading-shade">
    <mat-progress-bar mode="query" color="primary" *ngIf="isLoading"></mat-progress-bar>
  </div>
  <div *ngIf="isLoading" class="text-center">
    <br/>
    <p class="font-color">Note: This load takes 3 minutes, please wait...</p>
  </div>
<mat-table #pathwayTable [dataSource]="dataSource"
           class="data-table"
           matSort matSortDisableClear matSortDirection="asc">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Pathway Name*</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a href="http://www.kegg.jp/kegg-bin/show_pathway?{{row.kegg_id}}" target="_blank">
        {{row.name}}
      </a>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
    <mat-cell *matCellDef="let row">{{getKeggPathwayCategory(row.category)?.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="kegg_id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>View in KEGG*</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a href="http://www.kegg.jp/kegg-bin/show_pathway?{{row.kegg_id}}" target="_blank">{{row.kegg_id}}
      </a>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="compound_in_kegg_id">
    <mat-header-cell *matHeaderCellDef>View in KEGG</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoKeggMapDetail(row.id, 'compound')">
        {{row.kegg_id}}
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="herb_in_kegg_id">
    <mat-header-cell *matHeaderCellDef>View in KEGG</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoKeggMapDetail(row.id, 'herb')">
        {{row.kegg_id}}
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="herb_herb_in_kegg_id">
    <mat-header-cell *matHeaderCellDef>View in KEGG</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoKeggMapDetail(row.id, 'herb_herb')">
        {{row.kegg_id}}
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="target_in_kegg_id">
    <mat-header-cell *matHeaderCellDef>View in KEGG</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoKeggMapDetail(row.id, 'target')">
        {{row.kegg_id}}
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="prescription_in_kegg_id">
    <mat-header-cell *matHeaderCellDef>View in KEGG</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoKeggMapDetail(row.id, 'prescription')">
        {{row.kegg_id}}
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="disease_in_kegg_id">
    <mat-header-cell *matHeaderCellDef>View in KEGG</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoKeggMapDetail(row.id, 'disease')">
        {{row.kegg_id}}
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="compound_detail">
    <mat-header-cell *matHeaderCellDef>Pathway Compound Detail</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoPathwayCompoundDetail(row.id)">view</button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="compound_compound_detail">
    <mat-header-cell *matHeaderCellDef>Pathway Compound Detail</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoPathwayCompoundDetail(row.id, 'compound')">view</button>
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="prescription_compound_detail">
    <mat-header-cell *matHeaderCellDef>Pathway Compound Detail</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoPathwayCompoundDetail(row.id, 'prescription')">view</button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="herb_compound_detail">
    <mat-header-cell *matHeaderCellDef>Pathway Compound Detail</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoPathwayCompoundDetail(row.id, 'herb')">view</button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="protein_detail">
    <mat-header-cell *matHeaderCellDef>Pathway Protein Detail</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoPathwayProteinDetail(row.id)">view</button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="herb_protein_detail">
    <mat-header-cell *matHeaderCellDef>Pathway Protein Detail</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoPathwayProteinDetail(row.id, 'herb')">view</button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="herb_herb_protein_detail">
    <mat-header-cell *matHeaderCellDef>Pathway Protein Detail</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoPathwayProteinDetail(row.id, 'herb_herb')">view</button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="compound_protein_detail">
    <mat-header-cell *matHeaderCellDef>Pathway Protein Detail</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoPathwayProteinDetail(row.id, 'compound')">view</button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="prescription_protein_detail">
    <mat-header-cell *matHeaderCellDef>Pathway Protein Detail</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoPathwayProteinDetail(row.id, 'prescription')">view</button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="target_protein_detail">
    <mat-header-cell *matHeaderCellDef>Pathway Protein Detail</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoPathwayProteinDetail(row.id, 'target')">view</button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="disease_protein_detail">
    <mat-header-cell *matHeaderCellDef>Pathway Protein Detail</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoPathwayProteinDetail(row.id, 'disease')">view</button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [length]="pageMeta?.total_results"
               [pageSize]="pageMeta?.per_page"
               [pageSizeOptions]="pageSizeOptions"
>
</mat-paginator>
</div>
