<mat-table #pathwayTable [dataSource]="dataSource" matSort matSortDisableClear matSortDirection="asc">
  <ng-container matColumnDef="pathway_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Pathway Name</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a href="http://www.kegg.jp/kegg-bin/show_pathway?{{row.kegg_id}}" target="_blank">
        {{row.name}}
      </a>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
    <mat-cell *matCellDef="let row">{{getKeggPathwayCategory(row.category)?.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="kegg_id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>View in KEGG</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a href="http://www.kegg.jp/kegg-bin/show_pathway?{{row.kegg_id}}" target="_blank">{{row.kegg_id}}
      </a>
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="herb_compound_in_kegg_id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>View in KEGG</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="goHerbIdtoKeggMapDetail(row.id)">
        {{row.kegg_id}}
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="prescription_compound_in_kegg_id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>View in KEGG</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="goPrescriptionIdtoKeggMapDetail(row.id)">
        {{row.kegg_id}}
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="detail">
    <mat-header-cell *matHeaderCellDef>Detail</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="gotoPathwayDetail(row.id)">view</button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="prescription_detail">
    <mat-header-cell *matHeaderCellDef>Detail</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="goPrescriptionIdtoPathwayDetail(row.id)">view</button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="herb_detail">
    <mat-header-cell *matHeaderCellDef>Detail</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="goHerbIdtoPathwayDetail(row.id)">view</button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [length]="pageMeta?.total_results"
               [pageSize]="pageMeta?.per_page"
               [pageSizeOptions]="pageSizeOptions"
>
</mat-paginator>
