ngx-cytoscape {
  height: 100vh;
  float: left;
  position: relative;
  border: solid #21c0c0;
  width: 100%;
}
.toolbar-color {
  color: #fff;
  background: -webkit-linear-gradient(right, #56cc9d, rgba(86,204,157,0)); /* Safari 5.1 - 6 */
  background: -o-linear-gradient(right, #56cc9d, rgba(86,204,157,0)); /* Opera 11.1 - 12*/
  background: -moz-linear-gradient(right, #56cc9d, rgba(86,204,157,0)); /* Firefox 3.6 - 15*/
  background: linear-gradient(to right, #56cc9d, rgba(86,204,157,0)); /* 标准的语法 */
}

.footer-style {
  margin-top: 60px;
  height: 80px;
  clear: both;
  background: #f2f3f5;
  /*border-bottom: .6rem solid;*/
  /*border-bottom-color: #56cc9d;*/
  justify-content: center;
  display: flex;
  align-items: center;
}

.router-height {
  min-height:780px;
}
