<mat-toolbar class="toolbar-color">
  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span>
    <button mat-button (click)="goHome()"><h5>YaTCM</h5></button>
  </span>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <button mat-button (click)="goPrescriptionList()">Prescription</button>
  <button mat-button (click)="goHerbList()">Herb</button>
  <button mat-button (click)="goCompundList()">Compound</button>
  <button mat-button (click)="goTargetList()">Target</button>
  <button mat-button (click)="goPathwayList()">Pathway</button>
  <button mat-button (click)="goDiseaseList()">Disease</button>
  <button mat-button routerLink="search">Search</button>
  <button mat-button [matMenuTriggerFor]="tool">Tool</button>
  <mat-menu #tool="matMenu">
    <a mat-menu-item routerLink="sea">Target Prediction</a>
    <a mat-menu-item href="http://lilab.ecust.edu.cn/chemmapper/" target="_blank">Chemmapper</a>
    <a mat-menu-item href="http://lilab.ecust.edu.cn/pharmmapper/index.php" target="_blank">Pharmmapper</a>

  </mat-menu>
  <button mat-button routerLink="help">Help</button>
</mat-toolbar>
<mat-sidenav></mat-sidenav>

<!--Progress Bar-->
<mat-progress-bar
  *ngIf="loadingStatus"
  mode="query"
  color="primary"
  class="global-progress-bar"
></mat-progress-bar>

<ngx-cytoscape [elements]="graphData"></ngx-cytoscape>

<div [style.min-height]="screenHeight">
  <router-outlet></router-outlet>
</div>

<footer class="footer-style">
  Copyright©2018 NanKai All Rights Reserved
</footer>



