<mat-toolbar class="toolbar-color">
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span>YaTCM</span>
    <button mat-button routerLink="home">Home</button>
    <button mat-button (click)="goPrescriptionList()">Prescription</button>
    <button mat-button (click)="goHerbList()">Herb</button>
    <button mat-button (click)="goCompundList()">Compound</button>
    <button mat-button (click)="goTargetList()">Target</button>
    <button mat-button (click)="goPathwayList()">Pathway</button>
    <button mat-button (click)="goDiseaseList()">Disease</button>
    <button mat-button routerLink="search">Search</button>
</mat-toolbar>

<!--Progress Bar-->
<mat-progress-bar
*ngIf="loadingStatus"
mode="query"
color="primary"
class="global-progress-bar"
></mat-progress-bar>

<!--<div class="container">-->
  <!--<br>-->
  <router-outlet></router-outlet>
<!--</div>-->


