<mat-toolbar class="toolbar-color">
  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span>
    <button mat-button (click)="goHome()"><h5>YaTCM</h5></button>
  </span>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <button mat-button (click)="goPrescriptionList()">Prescription</button>
  <button mat-button (click)="goHerbList()">Herb</button>
  <button mat-button (click)="goCompundList()">Compound</button>
  <button mat-button (click)="goTargetList()">Target</button>
  <button mat-button (click)="goPathwayList()">Pathway</button>
  <button mat-button (click)="goDiseaseList()">Disease</button>
  <button mat-button routerLink="search">Search</button>
  <button mat-button routerLink="help">Help</button>
</mat-toolbar>
<mat-sidenav></mat-sidenav>

<!--Progress Bar-->
<mat-progress-bar
  *ngIf="loadingStatus"
  mode="query"
  color="primary"
  class="global-progress-bar"
></mat-progress-bar>

<div [style.min-height]="screenHeight">
  <router-outlet></router-outlet>
</div>

<footer class="footer-style">
  Copyright©2018 NaiKai All Rights Reserved
</footer>



