<div class="home-content mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h4 class="text-center">Yet another Traditional Chinese Medicine</h4>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <mat-card>
      <mat-card-header></mat-card-header>
      <mat-card-title>
        <h6>Database Introduction</h6>
        <mat-divider></mat-divider>
      </mat-card-title>
      <img mat-card-image class="screen-image" src="assets/image-yatcm/sketch.png" alt="sketch" >
      <mat-card-content>
        <mat-divider></mat-divider>
        <p class="card-content">
          <!--The YaTCM database is a freely available resource that provides the-->
          <!--comprehensive traditional Chinese medicine information including 47,696 natural compounds,-->
          <!--6,220 herbs , 18,697 targets (3461 therapeutic targets included), 1,907 predicted targets,-->
          <!--390 pathways and 1813 prescriptions. The database provides keyword search, similarity-->
          <!--search and substructure search. In addition, In addition to a data repository, YaTCM also-->
          <!--furnished with tools (pathway analysis and network pharmacology analysis) for query,-->
          <!--visualization and analysis of TCM result on the systematic network level. And it can-->
          <!--present their connection to facilitate the understanding of mechanism of actions of-->
          <!--TCM and research of combination therapy. The purpose of YaTCM is to help TCM researchers-->
          <!--increase efficiency in TCM moderation process. YaTCM would serve as a valuable data resource-->
          <!--in TCM-derived drug discovery.-->
          YaTCM (Yet another Traditional Chinese Medicine database), a free web-based toolkit, which provides
          comprehensive TCM information and is furnished with analysis tools. It contains 47,696 natural
          compounds, 6,220 herbs, 18,697 targets (with 3,461 therapeutic targets included), 1,907 predicted
          targets, 390 pathways and 1,813 prescriptions. YaTCM allows a user to (1) identify the potential
          ingredients that are crucial to TCM herbs through similarity search and substructure search, (2)
          investigate the mechanism of action for TCM or prescription through pathway analysis and network
          pharmacology analysis, (3) predict potential targets for TCM molecules by multi-voting chemical
          similarity ensemble approach, and (4) explore functionally similar herb pairs. All these functions
          can lead to one systematic network for visualization of TCM recipes, herbs, ingredients, definite
          or putative protein targets, pathways, and diseases. This web service would help in uncovering the
          mechanism of action of TCM, revealing the essence of TCM theory and then promoting the drug discovery
          process.
        </p>
        <p>For feedback, suggestions, or for error/bug reports please contact us.</p>
        <p><mat-icon>email</mat-icon>jianpinglin@nankai.edu.cn</p>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h6>YaTCM screenshots montage</h6>
          <mat-divider></mat-divider>
        </mat-card-title>
      </mat-card-header>
        <img mat-card-image class="screen-image" src="assets/image-yatcm/yatcm-screen.png" alt="Yatcm screenshots">
        <img mat-card-image class="screen-image" src="assets/image-yatcm/home-prescription-explorer.png" alt="Yatcm screenshots">
      <mat-card-content>
        <p>For instruction of using YaTCM, please refer to the
          <a (click)="gohelp()">help</a> page.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
