<div class="home-content mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h4 class="text-center">Yet another Traditional Chinese Medicine</h4>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <mat-card>
      <mat-card-header></mat-card-header>
      <mat-card-title>
        <h6>Database Introduction</h6>
        <mat-divider></mat-divider>
      </mat-card-title>
      <img mat-card-image class="screen-image" src="assets/yatcm-image/yatcm-schetch.png" alt="schetch" >
      <mat-card-content>
        <mat-divider></mat-divider>
        <p class="card-content">   The YaTCM database is a freely available resource that
          provides the comprehensive TCM information, including ingredients, herbs and prescriptions.
          YaTCM contains 47,696 natural compounds (including Chinese names, English names,
          PubChem CIDs, CAS numbers and structures), 6,220 herbs (including Chinese names, Latin names,
          medicinal parts, and Wikipedia links), 18,697 targets (3461 therapeutic targets included),
          1,907 predicted targets, 390 pathways and 1813 prescriptions.
          The database provides keyword (herb, formulae, structure, English name, Chinese name,
          plant name, CID, CAS) search, similarity search and substructure search. In addition,
          The YaTCM website is not only a data repository. It also furnished with tools for query,
          visualization and analysis of TCM result on the systematic network level that can present
          their connection to facilitate the understanding of mechanism of actions of TCM and
          research of combination therapy. The purpose of YaTCM is to help TCM researchers increase
          efficiency in TCM moderation process. YaTCM would serve as a valuable data resource in
          TCM-derived drug discovery
        </p>
        <p>For feedback, suggestions, or for error/bug reports please contact us.</p>
        <p><mat-icon>email</mat-icon>jianpinglin@nankai.edu.cn</p>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h6>YaTCM screenshots montage</h6>
          <mat-divider></mat-divider>
        </mat-card-title>
      </mat-card-header>
        <img mat-card-image class="screen-image" src="assets/yatcm-image/yatcm-screen.png" alt="Yatcm screenshots">
        <img mat-card-image class="screen-image" src="assets/yatcm-image/yatcm-screen-1.png" alt="Yatcm screenshots">
      <mat-card-content>
        <p>For instruction of using YaTCM, please refer to the
          <a (click)="gohelp()">help</a> page.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
