<table class="mdl-data-table mdl-shadow--2dp">
  <tr>
    <th>ChEMBL ID</th>
    <th class="mdl-data-table__cell--non-numeric">
      <a href="http://www.ebi.ac.uk/chembl/target/inspect/{{target?.chembl_id}}" target="_blank">
        {{target?.chembl_id}}
      </a>
    </th>
  </tr>
  <tr>
    <th>Pref Name</th>
    <td class="mdl-data-table__cell--non-numeric">{{target?.pref_name}}</td>
  </tr>
  <tr>
    <th>Target Type</th>
    <td class="mdl-data-table__cell--non-numeric">{{target?.target_type}}</td>
  </tr>
  <tr>
    <th>Organism</th>
    <td class="mdl-data-table__cell--non-numeric">{{target?.organism}}</td>
  </tr>
</table>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
</div>
