<h5><strong>{{prescription?.chinese_name}}({{prescription?.pinyin_name}})</strong></h5>
<table class="mdl-data-table mdl-shadow--2dp table">
  <tr>
    <th>Chinese Name</th>
    <td class="mdl-data-table__cell--non-numeric">{{prescription?.chinese_name}}</td>
  </tr>
  <tr>
    <th>Phonetic Name</th>
    <td class="mdl-data-table__cell--non-numeric">{{prescription?.pinyin_name}}</td>
  </tr>
  <tr>
    <th>English Name</th>
    <td class="mdl-data-table__cell--non-numeric">{{prescription?.english_name}}</td>
  </tr>
  <tr>
    <th>Main Prescription</th>
    <td class="mdl-data-table__cell--non-numeric">
      <button mat-button color="primary" *ngIf="mainPrescription">
        {{mainPrescription?.chinese_name}}({{mainPrescription?.english_name}})
      </button>
    </td>
  </tr>
  <tr>
    <th>Prescription Herbs</th>
    <td class="mdl-data-table__cell--non-numeric">
      <ng-container *ngIf="prescription?.herbs.length">
        <a (click)="gotoHerbDetail(herb.id)" *ngFor="let herb of prescription?.herbs">
          {{herb.Chinese_name}}({{herb.English_name}})&nbsp;&nbsp;
        </a>&nbsp;&nbsp;
      </ng-container>
    </td>
  </tr>
  <tr>
    <th>Reference</th>
    <td class="mdl-data-table__cell--non-numeric">{{prescription?.reference}}</td>
  </tr>
  <tr>
    <th>Traditional Usage</th>
    <td class="mdl-data-table__cell--non-numeric">{{prescription?.yongfa}}</td>
  </tr>
  <tr>
    <th>Traditonal Application</th>
    <td class="mdl-data-table__cell--non-numeric">{{prescription?.chinese_indiction}}</td>
  </tr>
  <tr>
    <th>Traditional Application(english)</th>
    <td class="mdl-data-table__cell--non-numeric">{{prescription?.english_indiction}}</td>
  </tr>
  <tr>
    <th>Modern Application</th>
    <td class="mdl-data-table__cell--non-numeric">{{prescription?.chinese_modern_application}}</td>
  </tr>
  <tr>
    <th>Modern Application(enlish)</th>
    <td class="mdl-data-table__cell--non-numeric">{{prescription?.english_modern_application}}</td>
  </tr>
  <tr>
    <th>Traditional Explanation</th>
    <td class="mdl-data-table__cell--non-numeric">{{prescription?.fangjie}}</td>
  </tr>
</table>

<h5><strong>Ingredient</strong></h5>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%">
  <tr>
    <th>Herbs</th>
    <th>Structure</th>
    <!--<th>Pathway</th>-->
  </tr>
  <tr *ngFor="let herb of herbs">
    <td>
      <button mat-button color="primary" appViewPageById pageId="{{herb.id}}" idType="herb">
        {{herb.Chinese_name}}({{herb?.English_name}})
      </button>
    </td>
    <td>
      <button mat-button color="primary" (click)="goCompoundList(herb.id)">{{herb.compounds.length}}</button>
      records
    </td>
  </tr>
</table>
<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="'prescription-herb'"
     routerLinkActive #rap="routerLinkActive"
     [active]="rap.isActive">Herb</a>
  <a mat-tab-link
     [routerLink]="'prescription-compound'"
     routerLinkActive #rac="routerLinkActive"
     [active]="rac.isActive">Molecule</a>
  <a mat-tab-link
     [routerLink]="'prescription-target'"
     routerLinkActive #rat="routerLinkActive"
     [active]="rat.isActive">Target</a>
  <a mat-tab-link
     [routerLink]="'prescription-pathway'"
     routerLinkActive #rapw="routerLinkActive"
     [active]="rapw.isActive">Pathway</a>
  <a mat-tab-link
     [routerLink]="'prescription-disease'"
     routerLinkActive #rad="routerLinkActive"
     [active]="rad.isActive">Disease</a>
  <a mat-tab-link
     [routerLink]="'prescription-network'"
     routerLinkActive #ran="routerLinkActive"
     [active]="ran.isActive">Network</a>
</nav>
<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>
