<h5>Pair-wise similarity of compounds from YaTCM to KEGG Pathway</h5>
<table class="mdl-data-table mdl-shadow--2dp" style="width: 100%;">
  <tr>
    <th class="mdl-data-table__cell--non-numeric">YaTCM Compound</th>
    <th class="mdl-data-table__cell--non-numeric">KEGG Compound</th>
  </tr>
  <tr *ngFor="let keggSimilarity of keggSimilarities">
    <td class="mdl-data-table__cell--non-numeric">
      <app-jsme [elementId]="keggSimilarity?.tcm.id + keggSimilarity?.kegg_compound.kegg_id"
                [width]="'200px'"
                [height]="'100px'"
                [option]="'depict nozoom noshowdraganddropsymbolindepictmode useopenchemlib'"
                [molString]="keggSimilarity?.tcm.smiles"
      ></app-jsme>
      <button mat-button color="primary" (click)="kclose()" appViewPageById pageId="{{keggSimilarity?.tcm.id}}" idType="compound">
        {{keggSimilarity?.tcm.id}}
      </button>
    </td>
    <td class="mdl-data-table__cell--non-numeric">
      <app-jsme [elementId]="keggSimilarity?.kegg_compound.id + keggSimilarity?.tcm.id"
                [width]="'200px'"
                [height]="'100px'"
                [option]="'depict nozoom noshowdraganddropsymbolindepictmode useopenchemlib'"
                [molString]="keggSimilarity?.kegg_compound.smiles"></app-jsme>
      <p>{{keggSimilarity?.kegg_compound.kegg_id}}</p>
    </td>
  </tr>
</table>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
</div>

