<div echarts
     class="network-table"
     [options]="echartOptions"
     (chartInit)="onChartInit($event)"
     (chartDblClick)="onDbClick($event)"
></div>
<table class="mdl-data-table" *ngIf="idType==='herb' || idType === 'compound'">
  <tr>
    <th>Target Type</th>
  </tr>
  <tr>
    <td>
      <mat-select [(value)]="targetType" (valueChange)="updateNetworkData()">
        <mat-option value="ttd_target">TTD Target</mat-option>
        <mat-option value="all_target">All Target</mat-option>
      </mat-select>
    </td>
  </tr>
</table>
