.network-table {
  min-height: 800px;
}


.mdl-data-table {
  margin: auto;
}

.form-width {
  width: 80px;
}

.td-width {
  max-width: 100px;
  /*justify-content: center;*/
  /*justify-items: center*/
}
