<!--Herb Base Infomation-->
<h5><strong>{{herb?.Chinese_name}}({{herb?.pinyin_name}})</strong></h5>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col">
    <img src="{{herb?.image}}" alt="{{herb?.Chinese_name}} Image" class="img-style">
  </div>
  <div class="mdl-cell mdl-cell--9-col">
    <table class=" mdl-data-table mdl-shadow--2dp table-min-width">
      <tr>
        <th class="th-width">Chinese Name</th>
        <td class="mdl-data-table__cell--non-numeric">{{herb?.Chinese_name}}</td>
      </tr>
      <tr>
        <th class="th-width">English Name</th>
        <td class="mdl-data-table__cell--non-numeric">{{herb?.English_name}}</td>
      </tr>
      <tr>
        <th class="th-width">Phonetic Name</th>
        <td class="mdl-data-table__cell--non-numeric">{{herb?.pinyin_name}}</td>
      </tr>
      <tr>
        <th class="th-width">Latin Name</th>
        <td class="mdl-data-table__cell--non-numeric">{{herb?.latin_name}}</td>
      </tr>
      <tr>
        <th class="th-width">Medicinal Part</th>
        <td class="mdl-data-table__cell--non-numeric">{{herb?.use_part}}</td>
      </tr>
      <!--<tr>-->
        <!--<th>Taxonomy</th>-->
        <!--<td>{{herb.texonomy}}</td>-->
      <!--</tr>-->
      <tr>
        <th class="th-width">Wikipedia</th>
        <td class="mdl-data-table__cell--non-numeric">
          <a href="{{herb?.wiki_english}}" target="_blank" *ngIf="herb?.wiki_english">English-wiki</a>&nbsp;&nbsp;
          <a href="{{herb?.wiki_chinese}}" target="_blank" *ngIf="herb?.wiki_chinese">Chinese-wiki</a>
        </td>
      </tr>
      <!--<tr>-->
        <!--<th>Related Herbs</th>-->
        <!--<td>-->
          <!--<ng-container *ngIf="relatedHerbs?.length">-->
            <!--<a (click)="gotoHerbDetail(relatedHerb?.id)" *ngFor="let relatedHerb of relatedHerbs">-->
              <!--{{relatedHerb.Chinese_name}}({{relatedHerb?.English_name}})</a>&nbsp;&nbsp;-->
          <!--</ng-container>-->
        <!--</td>-->
      <!--</tr>-->
      <tr>
        <th class="th-width">Prescription</th>
        <td class="mdl-data-table__cell--non-numeric">
          <ng-container *ngIf="herb?.prescription_set.length">
            <a (click)="gotoPrescriptionDetail(prescription.id)" *ngFor="let prescription of herb?.prescription_set">
              {{prescription.chinese_name}}({{prescription.english_name}})&nbsp;&nbsp;
            </a>&nbsp;&nbsp;
          </ng-container>
        </td>
      </tr>
    </table>
  </div>
</div>
<br>
<h5><strong>Property</strong></h5>
<table class="mdl-data-table mdl-js-table mdl-shadow--2dp  full-width ">
  <tr>
    <th class="mdl-data-table__cell--non-numeric">Property</th>
    <th class="mdl-data-table__cell--non-numeric">Value</th>
    <th class="mdl-data-table__cell--non-numeric">Reference</th>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric">Category</td>
    <ng-container *ngIf="herb?.first_catagory_chinese">
      <td class="mdl-data-table__cell--non-numeric">{{herb?.first_catagory_chinese}}({{herb?.first_catagory_english}})</td>
      <td class="mdl-data-table__cell--non-numeric"><a href="http://tcm.cmu.edu.tw/download.php?menuid=5" target="_blank">Database@Taiwan</a></td>
    </ng-container>
    <ng-container *ngIf="!herb?.first_catagory_chinese">
      <td></td>
      <td></td>
    </ng-container>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric">Effect</td>
    <ng-container *ngIf="herb?.effect">
      <td class="mdl-data-table__cell--non-numeric">{{herb?.effect}}</td>
      <td class="mdl-data-table__cell--non-numeric"><a [href]="generaterTcmidUrl(herb?.pinyin_name)" target="_blank">TCMID</a></td>
    </ng-container>
    <ng-container *ngIf="!herb?.effect">
      <td></td>
      <td></td>
    </ng-container>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric">Indication</td>
    <ng-container *ngIf="herb?.indication">
      <td class="mdl-data-table__cell--non-numeric">{{herb.indication}}</td>
      <td class="mdl-data-table__cell--non-numeric"><a [href]="generaterTcmidUrl(herb?.pinyin_name)" target="_blank">TCMID</a></td>
    </ng-container>
    <ng-container *ngIf="!herb?.indication">
      <td></td>
      <td></td>
    </ng-container>
  </tr>
</table>

<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="'herb-prescription'"
     routerLinkActive #rap="routerLinkActive"
     [active]="rap.isActive">Prescription</a>
  <a mat-tab-link
     [routerLink]="'herb-compound'"
     routerLinkActive #rac="routerLinkActive"
     [active]="rac.isActive">Molecule</a>
  <a mat-tab-link
     [routerLink]="'herb-target'"
     routerLinkActive #rat="routerLinkActive"
     [active]="rat.isActive">Target</a>
  <a mat-tab-link
     [routerLink]="'herb-pathway'"
     routerLinkActive #rapw="routerLinkActive"
     [active]="rapw.isActive">Pathway</a>
  <!--<a mat-tab-link-->
     <!--[routerLink]="'herb-enrich-pathway'"-->
     <!--routerLinkActive #raw="routerLinkActive"-->
     <!--[active]="raw.isActive">Enrich-Pathway</a>-->
  <a mat-tab-link
     [routerLink]="'herb-disease'"
     routerLinkActive #rat="routerLinkActive"
     [active]="rat.isActive">Disease</a>
  <a mat-tab-link
     [routerLink]="'herb-network'"
     routerLinkActive #ran="routerLinkActive"
     [active]="ran.isActive">Network</a>
  <a mat-tab-link
     [routerLink]="'graph'"
     routerLinkActive #rag="routerLinkActive"
     [active]="rag.isActive">Graph</a>
</nav>
<router-outlet></router-outlet>
