<!--&lt;!&ndash;<div class="panel">&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="panel-heading">&ndash;&gt;-->
    <!--&lt;!&ndash;<h2 class="text-position">Chemical Screening</h2>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="panel-body well">&ndash;&gt;-->
    <!--&lt;!&ndash;<br/>&ndash;&gt;-->
    <!--&lt;!&ndash;<form id="chemicalScreening"  class="form-horizontal"&ndash;&gt;-->
          <!--&lt;!&ndash;[formGroup]="chemicalScreeningForm" (ngSubmit)="onSubmit()">&ndash;&gt;-->
      <!--&lt;!&ndash;<br/>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
        <!--&lt;!&ndash;<label for="queryFile" class="control-label col-md-3">Query File:</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-6">&ndash;&gt;-->
          <!--&lt;!&ndash;<input type="file" id="queryFile"&ndash;&gt;-->
                 <!--&lt;!&ndash;accept=".sdf, .smi"&ndash;&gt;-->
                 <!--&lt;!&ndash;ng2FileSelect&ndash;&gt;-->
                 <!--&lt;!&ndash;[uploader]="uploder"&ndash;&gt;-->
                 <!--&lt;!&ndash;(change)="fileChange($event)"&ndash;&gt;-->
                 <!--&lt;!&ndash;formControlName="queryFile"&ndash;&gt;-->
                 <!--&lt;!&ndash;name="queryFile">&ndash;&gt;-->
          <!--&lt;!&ndash;<p class="help-block">Please submit MDL sdf or SMILES format file!</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->
          <!--&lt;!&ndash;<div  class="text-danger">&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
        <!--&lt;!&ndash;<label for="email" class="control-label col-md-3">Email Address:</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-6">&ndash;&gt;-->
          <!--&lt;!&ndash;<input type="email" id="email" name="email"&ndash;&gt;-->
                 <!--&lt;!&ndash;class="form-control" placeholder="Please input email address"&ndash;&gt;-->
                 <!--&lt;!&ndash;formControlName="email">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3" *ngIf="email.invalid && (email.dirty || email.touched)">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="text-danger" *ngIf="email.errors.required">&ndash;&gt;-->
            <!--&lt;!&ndash;<small>*Email is required</small>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="text-danger" *ngIf="email.errors.email">&ndash;&gt;-->
            <!--&lt;!&ndash;<small>*Invalid email</small>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
        <!--&lt;!&ndash;<label for="target" class="control-label col-md-3">Selected Target:</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-6">&ndash;&gt;-->
          <!--&lt;!&ndash;<select name="targetName" id="target"&ndash;&gt;-->
                  <!--&lt;!&ndash;class="form-control"&ndash;&gt;-->
                  <!--&lt;!&ndash;formControlName="target">&ndash;&gt;-->
            <!--&lt;!&ndash;<option *ngFor="let target of targets" [value]="target?.chemblid">{{target?.protein_description}}</option>&ndash;&gt;-->
          <!--&lt;!&ndash;</select>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3 col-md-offset-5">&ndash;&gt;-->
          <!--&lt;!&ndash;<button class="btn btn-warning btn-sm" type="reset" >Reset</button>&ndash;&gt;-->
          <!--&lt;!&ndash;<button class="btn btn-primary btn-sm" type="submit" [disabled]="chemicalScreeningForm.invalid">Submit</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</form>&ndash;&gt;-->
    <!--&lt;!&ndash;<br/>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-md-8 col-md-offset-2">&ndash;&gt;-->
      <!--&lt;!&ndash;<h5 class="text-danger">Note:</h5>&ndash;&gt;-->
      <!--&lt;!&ndash;<ul>&ndash;&gt;-->
        <!--&lt;!&ndash;<li>ONLY MDL SDF and SMILES formats are supported</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li>Both 2D and 3D structures can be used in the input file</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li>Only 1000 molecules can be predicted at a time,&ndash;&gt;-->
          <!--&lt;!&ndash;Do not submit files with more than 1000 molecules</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li>Chemical screening results will be sent to your email</li>&ndash;&gt;-->
      <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="container">-->
  <!--<br/>-->
  <!--<h2 class="text-center">Target Prediction</h2>-->
  <!--<div class="mdl-grid">-->
    <!--<div class="mdl-cell mdl-cell&#45;&#45;8-col mdl-cell&#45;&#45;2-offset">-->
      <!--<form #seaForm="ngForm" (ngSubmit)="Submit()">-->
        <!--<label for="queryFile" class="control-label col-md-3">Query File:</label>-->
        <!--<div class="col-md-6">-->
        <!--<input type="file"-->
               <!--id="queryFile"-->
               <!--ng2FileSelect-->
               <!--accept=".sdf, .smi"-->
               <!--[uploader]="uploder"-->
               <!--(change)="fileChange($event)"-->
               <!--name="queryFile">-->
        <!--<p class="help-block">Please submit MDL sdf or SMILES format file!</p>-->
        <!--</div>-->
      <!--</form>-->
      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Enter your email" required>-->
        <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
      <!--</mat-form-field>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
